/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin: 0px;
	background: #fff;
}
.container{
	display: inline-block;
	box-sizing: border-box;
	margin-left: 10vw;
	width: 80vw;
	padding: 2em;
	background: #eee;
}
.navbar{
	background: lightblue;
	padding: 0px 10%;
	display: flex;
	justify-content: space-between;
}
.navbar>h3{
	margin: 0px;
	font-size: 1.4em;
	padding: 20px 0px;
	display: inline-block;
}
.right{
	float: right;
}

.title{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 50px;
}
.post_title{
	font-weight: bold;
	font-size: 1.5em;
	padding: 10px 4px;
	width: 150px;	
}
a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
.btn{
	background: darkblue;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	padding: 5px 15px;
	color: white;
	&:visited {
    	color: white;
  	}
}

#abtest{
	display: inline-block;
	margin: 0px;
	color: red;
	font-size: 2em;
	padding: 20px;
}
.notice{
	font-style: italic;
	color: yellow;
	font-weight: bold;
	font-size: 2.5em;
	background: black;
	text-align: center;
}
#test_description{
	margin-bottom: 50px;	
}
